<h2 id="health" class="ui top display" style="float: left;">HP: 100</h2>
<h2 id="round" class="ui top display" style="float: right;">1 / 10</h2>
<h1 id="countdown" class="center vertical ui countdown" style="display: none;">Wave 2 in 3</h1>
<div id="death" class="center vertical ui end" style="display: none;">
    <div class="overspace"></div>
    <a id="replay1" class="center button" style="opacity: 0;">Try Again</a>
    <a id="menu1" class="center button" style="opacity: 0;">Main Menu</a>
</div>
<div id="win" class="center vertical ui end" style="display: none;">
    <div class="overspace"></div>
    <a id="replay2" class="center button" style="opacity: 0;">Play Again</a>
    <a id="menu2" class="center button" style="opacity: 0;">Main Menu</a>
</div>