html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #E19D00;
    background: black;
    font-size: 5vmin;
    font-family: "Times New Roman", Times, serif;
    transition: opacity 1.0s ease-in-out;
    -moz-transition: opacity 1.0s ease-in-out;
    -webkit-transition: opacity 1.0s ease-in-out;
}

canvas.fullscreen {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
	overflow: hidden;
	pointer-events: none;
}

div.overlay {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    pointer-events: none;
}

.center {
    text-align: center;
    display: block;
}

.vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown {
    font-size: 3em;
    margin: 0;
}

a {
    font-weight: bold;
}

a:hover {
    color: #C28500; !important;
}

a.button {
    display: block;
    pointer-events: auto;
    transition: opacity 5.0s ease-in-out;
    -moz-transition: opacity 5.0s ease-in-out;
    -webkit-transition: opacity 5.0s ease-in-out;
    opacity: 0.0;
}

.ui {
    display: block;
    margin: 0;
    padding: 2vmin;
}

.top {
    margin-top: -2vmin;
    padding-right: 4vmin;
    padding-left: 4vmin;
}

.start {
   position: absolute;
   top: 42%;
   left: 65%;
   color: #E19D00;
}

.black {
    background: black;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: opacity 1.0s ease-in-out;
    -moz-transition: opacity 1.0s ease-in-out;
    -webkit-transition: opacity 1.0s ease-in-out;
}

.cover {
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.0;
    transition: opacity 5.0s ease-in-out;
    -moz-transition: opacity 5.0s ease-in-out;
    -webkit-transition: opacity 5.0s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
}

.end {
    transition: opacity 5.0s ease-in-out;
    -moz-transition: opacity 5.0s ease-in-out;
    -webkit-transition: opacity 5.0s ease-in-out;
}

.noevents {
    pointer-events: none;
}

.overspace {
    height: 35vh;
}

.display {

}